@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Redressed&display=swap');

font-family Comic Neue, cursive

:root{box-sizing: border-box;} 

body
{
	background-color: #a5a4a4;
}
		
h1 
{
	text-align: center;
	color: aliceblue;
	font-family: Shizuru, cursive; 
	font-size: 32px; 
	font-weight: bold;
	text-transform: uppercase;
}

h2 
{
	text-align: center;
	color: aliceblue;
}

h3 
{
	text-align: center;
	color: aliceblue;
}


.container
{
	display: block;
}



.card
{
	background-color: #0b1115;
	padding: 10px;
	border-radius: 12px;
	border: 2px solid #000000;
	margin-left: 10em;
	margin-right: 10em;
	box-shadow: 2px 1px 3px #000;
}