<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterForm</display-name>
    <servlet-name>RegisterForm</servlet-name>
    <servlet-class>controller.RegisterForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterForm</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>controller.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainForm</display-name>
    <servlet-name>MainForm</servlet-name>
    <servlet-class>controller.MainForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainForm</servlet-name>
    <url-pattern>/MainForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinMainForm</display-name>
    <servlet-name>FinMainForm</servlet-name>
    <servlet-class>controller.FinMainForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinMainForm</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassForm</display-name>
    <servlet-name>ChangePassForm</servlet-name>
    <servlet-class>controller.ChangePassForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassForm</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterUserForm</display-name>
    <servlet-name>AlterUserForm</servlet-name>
    <servlet-class>controller.AlterUserForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterUserForm</servlet-name>
    <url-pattern>/alterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tableDisplay</display-name>
    <servlet-name>tableDisplay</servlet-name>
    <servlet-class>controller.tableDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tableDisplay</servlet-name>
    <url-pattern>/tableDisplay</url-pattern>
  </servlet-mapping>
</web-app>